<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Form IV: Time Bound/Judgements/Directions to Govt/IGR/others of High Court of Madras/Madurai">
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 5px;">
                    <form #f="ngForm" name="FormIV">
                        <div #main class="col-12 md:col-12 lg:col-12">
                            <div class="grid to-center">
                                <div #row1 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_zoneOptions" [options]="zone" [(ngModel)]="zone">
                                                </p-dropdown>
                                                <label for="float-input">Zone</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_district" [options]="districtOptions" [(ngModel)]="district">
                                                </p-dropdown>
                                                <label for="float-input">District</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_sro" [options]="sroOptions" [(ngModel)]="sro">
                                                </p-dropdown>
                                                <label for="float-input">SRO</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_casetype" [options]="caseTypeOptions" [(ngModel)]="caseType">
                                                </p-dropdown>
                                                <label for="float-input">Case Type</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_caseno" type="text" [(ngModel)]="caseNo" pInputText>
                                                <label for="float-input">WP/WA No.</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_year" [options]="year" (onClick)="onSelect('Y')" [(ngModel)]="yearOptions">
                                                </p-dropdown>
                                                <label for="float-input">Year</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row2 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <div>
                                                <span class="p-float-label">
                                                    <p-calendar [showIcon]="true" [(ngModel)]="judgementDate"></p-calendar>
                                                    <label for="float-input">Date of Judgement</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_petitionername" type="text" [(ngModel)]="petitionerName" pInputText>
                                                <label for="float-input">Petitioner Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_respondentsname" type="text" [(ngModel)]="respondentsName" pInputText>
                                                <label for="float-input">Respondents Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar [showIcon]="true" [(ngModel)]="receiptDate"></p-calendar>
                                                <label for="float-input">Receipt date of Court Direction</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_timelimit" type="text" [(ngModel)]="timeLimit" pInputText>
                                                <label for="float-input">Time Limit (in weeks/months)</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar [showIcon]="true" [(ngModel)]="expiryDate"></p-calendar>
                                                <label for="float-input">Expiry date</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row3 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_directionto" type="text" [(ngModel)]="directionTo" pInputText>
                                                <label for="float-input">Directed To</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_natureofdirection" type="text" [(ngModel)]="natureofDirection" pInputText>
                                                <label for="float-input">Nature of Direction</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-4">
                                            <span class="p-float-label">
                                                <input name="_compliedornot" type="text" [(ngModel)]="compliedorNot" pInputText>
                                                <label for="float-input">CompliedOrNot/Reason</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-4">
                                            <span class="p-float-label">
                                                <input name="_remarks" type="text" [(ngModel)]="remarks" pInputText>
                                                <label for="float-input">Remarks</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row4 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding">
                                    <button pButton pRipple type="button" label="Save" (click)="onSave()"
                                        [disabled]="!f.valid || !f.dirty"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </p-panel>
        </div>
    </div>
</div>

