<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel
                header="Form-IV Time Bound/Judgements/Directions to Govt/IGR/Others of High Court of Madras/Madurai">
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 5px;">
                    <form #f="ngForm" name="timeboundForm">
                        <div #main class="col-12 md:col-12 lg:col-12">
                            <div class="grid to-center">
                                <div #row1 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_zone" optionLabel="label"
                                                    (onClick)="onSelect('ZN')" [options]="zoneOptions"
                                                    [autoDisplayFirst]="disableAutoDisplay" [(ngModel)]="zone" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Zone</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_district"
                                                    optionLabel="label" (onClick)="onSelect('DT')"
                                                    [options]="districtOptions" [(ngModel)]="district"
                                                    [autoDisplayFirst]="disableAutoDisplay" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">District</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_sro" optionLabel="label"
                                                    (onClick)="onSelect('SR')" [options]="sroOptions" [(ngModel)]="sro"
                                                    [autoDisplayFirst]="disableAutoDisplay" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">SRO</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_casetype"
                                                    optionLabel="label" (onClick)="onSelect('CT')"
                                                    [options]="caseTypeOptions" [(ngModel)]="caseType"
                                                    [autoDisplayFirst]="disableAutoDisplay" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Case Type</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_writappealstatus" [autoDisplayFirst]="false" [options]="writappealstatusOptions"  
                                                optionLabel="label" (onClick)="onSelect('WS')" [(ngModel)]="writappealStatus" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">WritappealStatus</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <button pButton pRipple type="button" label="View" (click)="onView()"
                                            [disabled]="!f.valid"></button>
                                        </div>
                                    </div>
                                </div>
                                <div #row2 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">                                       
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-2">
                                            <div>
                                                <span class="p-float-label">
                                                    <p-calendar name="_judgementdate" [showIcon]="true"
                                                        [(ngModel)]="judgementDate"></p-calendar>
                                                    <label for="float-input">Judgement Date</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar name="_receiptdate" [showIcon]="true"
                                                    [(ngModel)]="receiptDate"></p-calendar>
                                                <label for="float-input">Receipt Date</label>
                                            </span>
                                        </div>
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_timelimit" type="text" [(ngModel)]="timeLimit" pInputText>
                                                <label for="float-input">TimeLimit (weeks/months)</label>
                                            </span>
                                        </div>
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_respondentcadre"
                                                    optionLabel="label" (onClick)="onSelect('RC')" (onChange)="onChangeRespondent()"
                                                    [options]="respondentCadreOptions" [(ngModel)]="respondentCadre"
                                                    [autoDisplayFirst]="disableAutoDisplay" [editable]="isEditable">
                                                </p-dropdown>
                                                <label for="float-input">Directed To</label>
                                            </span>
                                        </div>
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-4">
                                            <span class="p-float-label">
                                                <input name="_respondents" type="text" [(ngModel)]="respondents"
                                                   required pInputText>
                                                <label for="float-input">Direction List</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row3 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar name="_expirydate" [showIcon]="true"
                                                    [(ngModel)]="expiryDate"></p-calendar>
                                                <label for="float-input">Expiry Date</label>
                                            </span>
                                        </div>  
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_natureofdirection" type="text"
                                                    [(ngModel)]="natureofDirection" pInputText>
                                                <label for="float-input">Nature of Direction</label>
                                            </span>
                                        </div>
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-3">
                                            <span class="p-float-label">
                                                <input name="_compliedornot" type="text" [(ngModel)]="compliedorNot"
                                                    pInputText>
                                                <label for="float-input">CompliedOrNot/Reason</label>
                                            </span>
                                        </div>
                                        <div *ngIf="isDisabled" class="col-12 md:col-4 lg:col-3">
                                            <span class="p-float-label">
                                                <input name="_remarks" type="text" [(ngModel)]="remarks" pInputText>
                                                <label for="float-input">Remarks</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row4 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding">
                                    <button pButton pRipple type="button" label="Save" (click)="onSave()"
                                        [disabled]="!f.valid || !f.dirty"></button>
                                </div>
                            </div>
                            <!-- table  -->
                            <div class="col-12 md:col-12 lg:col-12">
                                <p-table #dt [columns]="cols" [value]="data" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="caption">
                                        <div class="flex">
                                            <button type="button" pButton pRipple icon="pi pi-file"
                                                (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" label="Export"
                                                tooltipPosition="bottom"></button>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th>S.No:</th>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData
                                        let-columns="columns">
                                        <tr>
                                            <td>{{rowIndex+1}}</td>
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </form>
                </div>
            </p-panel>
        </div>
    </div>
</div>