<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Form-II IGR Respondent High Court Cases">
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 5px;">
                    <form #f="ngForm" name="igrRespondentForm">
                        <div #main class="col-12 md:col-12 lg:col-12">
                            <div class="grid to-center">
                                <div #row1 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_zone" [options]="zoneOptions" [(ngModel)]="zone">
                                                </p-dropdown>
                                                <label for="float-input">Zone</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_district" [options]="districtOptions" [(ngModel)]="district">
                                                </p-dropdown>
                                                <label for="float-input">District</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_sro" [options]="sroOptions" [(ngModel)]="sro">
                                                </p-dropdown>
                                                <label for="float-input">SRO</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_casetype" [options]="caseTypeOptions" [(ngModel)]="caseType">
                                                </p-dropdown>
                                                <label for="float-input">Case Type</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_caseno" type="text" [(ngModel)]="caseNo" pInputText>
                                                <label for="float-input">Case No.</label>
                                            </span>
                                        </div>
                                       <div class="lg:col-2"></div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar [(ngModel)]="year" view="year" dateFormat="yy"></p-calendar>
                                                <label for="float-input">Case Year</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_highcourtname" [options]="highCourtNameOptions"
                                                    [(ngModel)]="highCourtName">
                                                </p-dropdown>
                                                <label for="float-input">Hight Court Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-4">
                                            <span class="p-float-label">
                                                <input name="_gistofcase" type="text" [(ngModel)]="gistOfCase" pInputText>
                                                <label for="float-input">Gist of the case and Main prayer</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_petitionername" type="text" [(ngModel)]="petitionerName" pInputText>
                                                <label for="float-input">Petitioner Name</label>
                                            </span>
                                        </div>
                                        <div class="lg:col-2"></div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_respondentname" type="text" [(ngModel)]="respondentsName" pInputText>
                                                <label for="float-input">Main Respondents Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <div style="border: 1px solid #1769aa;
                                    border-radius: 5px; padding: 2px;">
                                                <label for="_counterFiled">Counter Filed</label><br>
                                                <div style="text-align: center;">
                                                    <p-radioButton name="_counteryes" value="1" label="Yes" [(ngModel)]="selectedValue">
                                                    </p-radioButton>&nbsp;
                                                    <p-radioButton name="_counterno" value="0" label="No" [(ngModel)]="selectedValue">
                                                    </p-radioButton>&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_stateofcase" [options]="stateOfCaseOptions" [(ngModel)]="stateOfCase">
                                                </p-dropdown>
                                                <label for="float-input">State of the case</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            
                                <div #row3 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding">
                                    <button pButton pRipple type="button" label="Save" (click)="onSave()"
                                        [disabled]="!f.valid || !f.dirty"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </p-panel>
        </div>
    </div>
</div>
