<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Form-II IGR Respondent High Court Cases">
                <p-messages [(value)]="responseMsg" [enableService]="false"  [hideTransitionOptions]="'500ms cubic-bezier(0.86, 0, 0.076, 1)'"></p-messages>
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 5px;">
                    <form #f="ngForm" name="igrRespondentForm">
                        <div #main class="col-12 md:col-12 lg:col-12">
                            <div class="grid to-center">
                                <div #row1 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                            <p-dropdown name="_zone" [autoDisplayFirst]="false" optionLabel="label" (onClick)="onSelect('ZN')" [options]="zoneOptions"
                                            [(ngModel)]="zone" [required]="true">
                                            </p-dropdown>
                                            <label for="float-input">Zone</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_district" [autoDisplayFirst]="false"
                                                    optionLabel="label" (onClick)="onSelect('DT')"
                                                    [options]="districtOptions" [(ngModel)]="district"
                                                    [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">District</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_sro" [autoDisplayFirst]="false"
                                                optionLabel="label" (onClick)="onSelect('SR')" [options]="sroOptions" [(ngModel)]="sro">
                                                </p-dropdown>
                                                <label for="float-input">SRO</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_casetype" [autoDisplayFirst]="false"
                                                optionLabel="label" (onClick)="onSelect('CT')" [options]="caseTypeOptions"
                                                    [(ngModel)]="caseType">
                                                </p-dropdown>
                                                <label for="float-input">Case Type</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_caseno" type="text" [(ngModel)]="caseNo" pInputText>
                                                <label for="float-input">Case No.</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar name="_casedate" [(ngModel)]="caseDate" [showIcon]="true"
                                                    [required]="true"></p-calendar>
                                                <label for="float-input">Case Date</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row2 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar name="_caseyear" [(ngModel)]="caseYear" view="year" dateFormat="yy"
                                                    inputId="yearpicker"></p-calendar>
                                                <label for="float-input">Case Year</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_highcourtname"  [autoDisplayFirst]="false"
                                                optionLabel="label" (onClick)="onSelect('HC')" [options]="highCourtNameOptions"
                                                    [(ngModel)]="highCourtName">
                                                </p-dropdown>
                                                <label for="float-input">Hight Court Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_petitionername" type="text" [(ngModel)]="petitionerName"
                                                    pInputText>
                                                <label for="float-input">Petitioner Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_respondentcadre" [autoDisplayFirst]="false"
                                                    optionLabel="label" (onClick)="onSelect('CT')"
                                                    [options]="respondentCadreOptions" [(ngModel)]="respondentCadre"
                                                    [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Respondent Designation</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-4">
                                            <span class="p-float-label">
                                                <input name="_respondentlist" type="text" [(ngModel)]="respondentsList"
                                                    pInputText>
                                                <label for="float-input">Respondents List</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row3 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                            <div class="col-12 md:col-4 lg:col-4">
                                                <span class="p-float-label">
                                                    <input name="_gistofcase" type="text" [(ngModel)]="gistOfCase"
                                                        pInputText>
                                                    <label for="float-input">Gist of the case and Main prayer</label>
                                                </span>
                                            </div>
                                            <div class="col-12 md:col-4 lg:col-2">
                                                <div class="div-radio-box">
                                                    <label for="_counterFiled">Counter Filed</label><br>
                                                    <div style="text-align: center;">
                                                        <p-radioButton name="_counteryes" value="1" label="Yes"
                                                            [(ngModel)]="selectedValue">
                                                        </p-radioButton>&nbsp;
                                                        <p-radioButton name="_counterno" value="0" label="No"
                                                            [(ngModel)]="selectedValue">
                                                        </p-radioButton>&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 md:col-4 lg:col-2">
                                                <span class="p-float-label">
                                                <p-dropdown name="_stateofcase"  [autoDisplayFirst]="false"
                                                optionLabel="label" (onClick)="onSelect('SC')" [options]="stateOfCaseOptions"
                                                    [(ngModel)]="stateOfCase">
                                                </p-dropdown>
                                                <label for="float-input">Case Status</label>
                                                </span>
                                            </div>
                                            <div class="col-12 md:col-4 lg:col-2">
                                                <div class="div-radio-box">
                                                <label for="_judgement">Judgement</label><br>
                                                <div style="text-align: center;">
                                                    <p-radioButton name="_judgementfor" value="1" label="For"
                                                        [(ngModel)]="judgementValue">
                                                    </p-radioButton>&nbsp;
                                                    <p-radioButton name="_judgementagainst" value="0" label="Against"
                                                        [(ngModel)]="judgementValue">
                                                    </p-radioButton>&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 md:col-4 lg:col-2">
                                                <span class="p-float-label">
                                                <input name="_remarks" type="text" [(ngModel)]="remarks" pInputText>
                                                <label for="float-input">Remarks</label>
                                                </span>
                                            </div>
                                    </div>
                                </div>
                                <div #row4 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding">
                                    <button pButton pRipple type="button" label="Save" (click)="onSave()"
                                        [disabled]="!f.valid || !f.dirty"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 md:col-12 lg:col-12">
                    <p-table #dt [columns]="cols" [value]="data" styleClass="p-datatable-gridlines" [loading]="loading">
                        <ng-template pTemplate="caption">
                            <div class="grid" style="width: -webkit-fill-available;">
                                <div class="lg:col-2 no-pad-btm">
                                    <div><label>From Date</label></div>
                                    <p-calendar name="_fdate" [(ngModel)]="fromDate" [showIcon]="true"
                                        (ngModelChange)="onLoadCases()"></p-calendar>
                                </div>
                                <div class="lg:col-2 no-pad-btm">
                                    <div><label>To Date</label></div>
                                    <p-calendar name="_tdate" [(ngModel)]="toDate" [showIcon]="true"
                                        (ngModelChange)="onLoadCases()"></p-calendar>
                                </div>
                                <div class="lg:col-6 no-pad-top no-pad-btm"></div>
                                <div class="lg:col-2 table-hdr-export">
                                    <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()"
                                        class="mr-2" pTooltip="CSV" label="Export" tooltipPosition="bottom"></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>S.No:</th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th>Edit</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td>{{rowIndex+1}}</td>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                                <td>
                                    <p-button icon="pi pi-pencil" (onClick)="onEdit(rowData)"></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-panel>
        </div>
    </div>
</div>