<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Form-VIII Supreme Court Case Details">
                <p-messages [(value)]="responseMsg" [enableService]="false"
                [hideTransitionOptions]="'500ms cubic-bezier(0.86, 0, 0.076, 1)'"></p-messages>
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 5px;">
                    <form #f="ngForm" name="supremeCourtCaseForm">
                        <div #main class="col-12 md:col-12 lg:col-12">
                            <div class="grid to-center">
                                <div #row1 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_zone" optionLabel="label" [options]="zoneOptions"
                                                    [autoDisplayFirst]="disableAutoDisplay" [(ngModel)]="zone"
                                                    (onClick)="onSelect('ZN')" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Zone</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_district" optionLabel="label"
                                                    [options]="districtOptions" [(ngModel)]="district"
                                                    [autoDisplayFirst]="disableAutoDisplay" (onClick)="onSelect('DT')"
                                                    [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">District</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_sro" optionLabel="label" [options]="sroOptions"
                                                    [(ngModel)]="sro" [autoDisplayFirst]="disableAutoDisplay"
                                                    (onClick)="onSelect('SR')" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">SRO</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_slp" optionLabel="label" [options]="slpOptions"
                                                    [(ngModel)]="slpType" [autoDisplayFirst]="disableAutoDisplay"
                                                    (onClick)="onSelect('SL')" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">SLP Type</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar name="_casedate" [(ngModel)]="caseDate" [showIcon]="true"
                                                    [required]="true"></p-calendar>
                                                <label for="float-input">Case Date</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_slpnumber" [(ngModel)]="slpNumber" pInputText
                                                    [required]="true" />
                                                <label for="float-input">Diary No./SLP Case No.</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row2 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_caseno" type="text" [(ngModel)]="highCourtRefNo"
                                                    pInputText>
                                                <label for="float-input">HighCourt Ref No.</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_petitionername" type="text" [(ngModel)]="petitionerName"
                                                    pInputText>
                                                <label for="float-input">Petitioner Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_respondentcadre" optionLabel="label"
                                                    [options]="respondentCadreOptions" [(ngModel)]="respondentCadre"
                                                    (onChange)="onChangeRespondent()"
                                                    [autoDisplayFirst]="disableAutoDisplay" (onClick)="onSelect('RC')"
                                                    [editable]="isEditable">
                                                </p-dropdown>
                                                <label for="float-input">Respondent Designation</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-4">
                                            <span class="p-float-label">
                                                <input name="_respondents" type="text" [(ngModel)]="respondents"
                                                    required pInputText>
                                                <label for="float-input">Respondents</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <div class="div-radio-box">
                                                <label for="_casefiledby">Case Filed By</label><br>
                                                <div style="text-align: center;">
                                                    <p-radioButton name="_filedbygovt" value="1" label="Govt"
                                                        [(ngModel)]="filedValue">
                                                    </p-radioButton>&nbsp;
                                                    <p-radioButton name="_filedbyindividual" value="0"
                                                        label="Individual" [(ngModel)]="filedValue">
                                                    </p-radioButton>&nbsp;
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div #row3 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <div class="div-radio-box">
                                                <label for="_counterFiled">Counter Filed</label><br>
                                                <div style="text-align: center;">
                                                    <p-radioButton name="_counteryes" value="1" label="Yes"
                                                        [(ngModel)]="selectedValue">
                                                    </p-radioButton>&nbsp;
                                                    <p-radioButton name="_counterno" value="0" label="No"
                                                        [(ngModel)]="selectedValue">
                                                    </p-radioButton>&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_stateofcase" optionLabel="label"
                                                    [options]="stateOfCaseOptions" [(ngModel)]="stateOfCase"
                                                    [autoDisplayFirst]="disableAutoDisplay" (onClick)="onSelect('SC')"
                                                    [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Case Status</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-4">
                                            <span class="p-float-label">
                                                <input name="_gistofcase" type="text" [(ngModel)]="gistOfCase"
                                                    pInputText>
                                                <label for="float-input">Gist of the case & Main prayer</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_remarks" type="text" [(ngModel)]="remarks" pInputText>
                                                <label for="float-input">Remarks</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row4 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding">
                                    <button pButton pRipple type="button" label="Save" (click)="onSave()"
                                        [disabled]="!f.valid || !f.dirty"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 md:col-12 lg:col-12">
                    <div class="note">Note*: Please select zone, district ,sro & date to view records</div>
                    <p-table #dt [columns]="cols" [value]="data" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <div class="grid" style="width: -webkit-fill-available;">
                                <div class="lg:col-2 no-pad-btm">
                                    <div><label>From Date</label></div>
                                    <p-calendar name="_fdate" [(ngModel)]="fromDate" [showIcon]="true"
                                        (ngModelChange)="onLoadCases()"></p-calendar>
                                </div>
                                <div class="lg:col-2 no-pad-btm">
                                    <div><label>To Date</label></div>
                                    <p-calendar name="_tdate" [(ngModel)]="toDate" [showIcon]="true"
                                        (ngModelChange)="onLoadCases()"></p-calendar>
                                </div>
                                <div class="lg:col-6 no-pad-top no-pad-btm"></div>
                                <div class="lg:col-2 table-hdr-export">
                                    <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()"
                                        class="mr-2" pTooltip="CSV" label="Export" tooltipPosition="bottom" [disabled]="(data.length===0)"></button>
                                </div>
                            </div>
                            <!-- <div class="flex">
                                <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" label="Export" tooltipPosition="bottom"></button>
                            </div> -->
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>S.No:</th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData let-columns="columns">
                            <tr>
                                <td>{{rowIndex+1}}</td>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-panel>
        </div>
    </div>
</div>