<div class="col-12 md:col-12 lg:col-12" style="height: 100%;">
    <app-header></app-header>
    <div class="col-12 md:col-12 lg:col-12 no-padding" style="height: 100%;">
        <div class="grid" style="height: 100%;">
            <div class="col-12 md:col-2 lg:col-2" style="height: 100%;">
                <app-menu></app-menu>
            </div>
            <div class="col-12 md:col-10 lg:col-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>