<div class="col-12 md:col-12 lg:col-12" style="height: 100%;">
    <app-header (sidenavToggle)="openMenu($event)" [toggle]="show"></app-header>
    <div class="col-12 md:col-12 lg:col-12 no-padding" style="height: 100%;">

        <!-- <div class="grid" style="height: 100%;">
            <div *ngIf="show" class="col-12 md:col-3 lg:col-2" [ngStyle.gt-md]="{'height': '100%'}"
                [ngStyle.lg]="{'height': '100%'}" [ngStyle.md]="{'height': '100%'}">
                <app-menu [status]="show" (sidenavToggle)="onToggle($event)"></app-menu>
            </div>
            <div *ngIf="!show" class="col-12 md:col-3 lg:col-2" [ngStyle.gt-md]="{'height': '100%'}"
                [ngStyle.lg]="{'height': '100%'}" [ngStyle.md]="{'height': '100%'}">
                <app-menu [status]="show" (sidenavToggle)="onToggle($event)"></app-menu>
            </div>
            <div *ngIf="!show" class="col-12 md:col-9 lg:col-10" style="position: relative;">
                <router-outlet></router-outlet>
            </div>
        </div> -->
        <!-- For Mobile -->
        <!-- <div class="grid" style="height: 100%;">
            <div *ngIf="show" class="col-12 md:col-3 lg:col-2" [ngStyle.gt-md]="{'height': '100%'}" 
            [ngStyle.lg]="{'height': '100%'}" [ngStyle.md]="{'height': '100%'}">
                <app-menu [status]="show" (sidenavToggle)="onToggle($event)"></app-menu>
            </div>
            <div *ngIf="!show" class="col-12 md:col-9 lg:col-10" style="position: relative;">
                <router-outlet></router-outlet>
            </div>
        </div> -->
        <!-- For System -->
        <div class="grid" style="height: 100%;">
            <div class="col-12 md:col-3 lg:col-2" [ngStyle.gt-md]="{'height': '100%'}" 
            [ngStyle.lg]="{'height': '100%'}" [ngStyle.md]="{'height': '100%'}">
                <app-menu [status]="show" (sidenavToggle)="onToggle($event)"></app-menu>
            </div>
            <div class="col-12 md:col-9 lg:col-10" style="position: relative;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>