<div class="col-12 md:col-12 lg:col-12 container" style="height: 100%;">
    <div class="col-12 md:col-12 lg:col-12 card">
        <div #gridmain class="grid">
            <div #col1 class="col-12 md:col-12 lg:col-6">
                <div #box1 class="col-12 md:col-12 lg:col-12 box dsh-box cursor">
                    <div class="col-12 dsh-box1-bg dsh-box-hdr">
                        <span>Deputy Inspector of Registration</span>
                    </div>
                    <div class="col-12">
                        <div class="grid to-center">
                            <div *ngFor="let i of deputyItems" class="col-4 md:col-3 lg:col-3 card dsh-box1-innerbox-bg"
                            [ngStyle.xs]="{'margin': '5px 15px'}" [ngStyle.lg]="{'margin': '5px 25px'}"
                            [ngStyle.sm]="{'margin': '5px 30px'}" [ngStyle.md]="{'margin': '5px 20px'}">
                                <div class="col-12">
                                    <span>{{i.title}}</span>
                                </div>
                                <div class="col-12 no-padding txt-to-center dsh-box-value">
                                    <span>{{i.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div #box2 class="col-12 md:col-12 lg:col-12 box dsh-box cursor">
                    <div class="col-12 dsh-box2-bg dsh-box-hdr">
                        <span>Counter Affidavits Not Filed</span>
                    </div>
                    <div class="col-12">
                        <div class="grid to-center">
                            <div *ngFor="let i of caItems" class="col-4 md:col-3 lg:col-3 card dsh-box2-innerbox-bg"
                            [ngStyle.xs]="{'margin': '5px 15px'}" [ngStyle.lg]="{'margin': '5px 25px'}"
                            [ngStyle.sm]="{'margin': '5px 30px'}" [ngStyle.md]="{'margin': '5px 20px'}">
                                <div class="col-12">
                                    <span>{{i.title}}</span>
                                </div>
                                <div class="col-12 no-padding txt-to-center dsh-box-value">
                                    <span>{{i.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div #box3 class="col-12 md:col-12 lg:col-12 box dsh-box cursor">
                    <div class="col-12 dsh-box3-bg dsh-box-hdr">
                        <span>District Revenue Officer & Special Deputy Collector</span>
                    </div>
                    <div class="col-12">
                        <div class="grid to-center">
                            <div *ngFor="let i of deputyItems" class="col-4 md:col-3 lg:col-3 card dsh-box3-innerbox-bg"
                            [ngStyle.xs]="{'margin': '5px 15px'}" [ngStyle.lg]="{'margin': '5px 25px'}"
                            [ngStyle.sm]="{'margin': '5px 30px'}" [ngStyle.md]="{'margin': '5px 20px'}">
                                <div class="col-12">
                                    <span>{{i.title}}</span>
                                </div>
                                <div class="col-12 no-padding txt-to-center dsh-box-value">
                                    <span>{{i.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div #col2 class="col-12 md:col-12 lg:col-6">
                <div #box4 class="col-12 md:col-12 lg:col-12 box dsh-box cursor">
                    <div class="col-12 dsh-box4-bg dsh-box-hdr">
                        <span>Assistant Executive Engineer</span>
                    </div>
                    <div class="col-12">
                        <div class="grid to-center">
                            <div *ngFor="let i of deputyItems" class="col-4 md:col-3 lg:col-3 card dsh-box4-innerbox-bg"
                            [ngStyle.xs]="{'margin': '5px 15px'}" [ngStyle.lg]="{'margin': '5px 25px'}"
                            [ngStyle.sm]="{'margin': '5px 30px'}" [ngStyle.md]="{'margin': '5px 20px'}">
                                <div class="col-12">
                                    <span>{{i.title}}</span>
                                </div>
                                <div class="col-12 no-padding txt-to-center dsh-box-value">
                                    <span>{{i.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div #box5 class="col-12 md:col-12 lg:col-12 box dsh-box cursor">
                    <div class="col-12 dsh-box5-bg dsh-box-hdr">
                        <span>Supreme Court Cases(No.of cases)</span>
                    </div>
                    <div class="col-12">
                        <div class="grid to-center">
                            <div *ngFor="let i of scCaseItems" class="col-4 md:col-3 lg:col-3 card dsh-box5-innerbox-bg"
                            [ngStyle.xs]="{'margin': '5px 15px'}" [ngStyle.lg]="{'margin': '5px 25px'}"
                            [ngStyle.sm]="{'margin': '5px 30px'}" [ngStyle.md]="{'margin': '5px 20px'}">
                                <div class="col-12">
                                    <span>{{i.title}}</span>
                                </div>
                                <div class="col-12 no-padding txt-to-center dsh-box-value">
                                    <span>{{i.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div #box6 class="col-12 md:col-12 lg:col-12 box dsh-box cursor">
                    <div class="col-12 dsh-box6-bg dsh-box-hdr">
                        <span>Contempt cases of Hon'ble High Court of Madras & its bench at Madurai</span>
                    </div>
                    <div class="col-12">
                        <div class="grid to-center">
                            <div *ngFor="let i of contemptItems" class="col-4 md:col-3 lg:col-3 card dsh-box6-innerbox-bg"
                            [ngStyle.xs]="{'margin': '5px 5px'}" [ngStyle.lg]="{'margin': '5px 15px'}"
                            [ngStyle.sm]="{'margin': '5px 15px'}" [ngStyle.md]="{'margin': '5px 10px'}">
                                <div class="col-12 no-pad-top">
                                    <span>{{i.title}}</span>
                                </div>
                                <div class="col-12 no-padding txt-to-center dsh-box-value">
                                    <span>{{i.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>