<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Form-I Government Respondent High Court Cases">
                <p-messages [(value)]="responseMsg" [enableService]="false"
                    [hideTransitionOptions]="'500ms cubic-bezier(0.86, 0, 0.076, 1)'"></p-messages>
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 5px;">
                    <form #f="ngForm" name="govRespondentForm">
                        <div #main class="col-12 md:col-12 lg:col-12">
                            <div class="grid to-center">
                                <div #row1 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_respondenttype" optionLabel="label" [autoDisplayFirst]="disableAutoDisplay" 
                                                    (onClick)="onSelect('RT')"  
                                                    [options]="respondentTypeOptions" [(ngModel)]="respondentType"
                                                    [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Respondent Type</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row2 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_zone" optionLabel="label"
                                                    (onClick)="onSelect('ZN')" [options]="zoneOptions"
                                                    [autoDisplayFirst]="disableAutoDisplay" [(ngModel)]="zone" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Zone</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_district"
                                                    optionLabel="label" (onClick)="onSelect('DT')"
                                                    [options]="districtOptions" [(ngModel)]="district"
                                                    [autoDisplayFirst]="disableAutoDisplay" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">District</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_sro" optionLabel="label"
                                                    (onClick)="onSelect('SR')" [options]="sroOptions" [(ngModel)]="sro"
                                                    [autoDisplayFirst]="disableAutoDisplay" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">SRO</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_casetype"
                                                    optionLabel="label" (onClick)="onSelect('CT')"
                                                    [options]="caseTypeOptions" [(ngModel)]="caseType"
                                                    [autoDisplayFirst]="disableAutoDisplay" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Case Type</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar name="_casedate" [(ngModel)]="caseDate" [showIcon]="true"
                                                   [required]="true"></p-calendar>
                                                <label for="float-input">Case Date</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_caseno" type="text"  [(ngModel)]="caseNo" [pKeyFilter]="'int'" pInputText>
                                                <label for="float-input">Case No.</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row3 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-calendar name="_caseyear" [(ngModel)]="caseYear" view="year"
                                                    dateFormat="yy" inputId="yearpicker"></p-calendar>
                                                <label for="float-input">Case Year</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_highcourtname"
                                                    optionLabel="label" (onClick)="onSelect('HC')"
                                                    [options]="highCourtNameOptions" [(ngModel)]="highCourtName"
                                                    [autoDisplayFirst]="disableAutoDisplay" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Hight Court Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_petitionername" type="text" [(ngModel)]="petitionerName" [pKeyFilter]="'alpha'"
                                                    pInputText>
                                                <label for="float-input">Petitioner Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_respondentcadre"
                                                    optionLabel="label" (onClick)="onSelect('RC')" [autoDisplayFirst]="disableAutoDisplay"  
                                                    [options]="respondentCadreOptions" [(ngModel)]="respondentCadre" 
                                                    (onChange)="onChangeRespondent()" >
                                                </p-dropdown>
                                                <label for="float-input">Respondent</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_respondents" type="text" [(ngModel)]="respondents"
                                                   required pInputText [readonly]="!isEditable">
                                                <label for="float-input">Respondents Name</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_stateofcase" [autoDisplayFirst]="disableAutoDisplay"
                                                    optionLabel="label" (onClick)="onSelect('SC')"
                                                    [options]="stateOfCaseOptions" [(ngModel)]="stateOfCase"
                                                     [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Case Status</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div #row4 class="col-12 md:col-11 lg:col-11">
                                    <div class="grid">
                                        <div class="col-12 md:col-4 lg:col-4">
                                            <span class="p-float-label">
                                                <input name="_gistofcase" type="text" [(ngModel)]="gistOfCase"
                                                    pInputText>
                                                <label for="float-input">Gist of the case and Main prayer</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_judgement"  [autoDisplayFirst]="disableAutoDisplay" 
                                                    optionLabel="label" (onClick)="onSelect('JD')"
                                                    [options]="judgementOptions" [(ngModel)]="judgement" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Judgement Status</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <p-dropdown name="_counterfiled"  [autoDisplayFirst]="disableAutoDisplay"
                                                    optionLabel="label" (onClick)="onSelect('CF')" 
                                                    [options]="counterFiledOptions" [(ngModel)]="counterFiled" [required]="true">
                                                </p-dropdown>
                                                <label for="float-input">Counter Filed</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <span class="p-float-label">
                                                <input name="_remarks" type="text" [(ngModel)]="remarks" pInputText>
                                                <label for="float-input">Remarks</label>
                                            </span>
                                        </div>
                                        <div class="col-12 md:col-4 lg:col-2">
                                            <button pButton pRipple type="button" label="Save" (click)="onSave()"
                                                [disabled]="!f.valid || !f.dirty"></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 md:col-12 lg:col-12">
                    <div class="note">*Note: Please select RespondentType & From/To dates to view/edit records</div>
                    <p-table #dt [columns]="cols" [value]="data" styleClass="p-datatable-gridlines" [loading]="loading">
                        <ng-template pTemplate="caption">
                            <div class="grid" style="width: -webkit-fill-available;">
                                <div class="lg:col-2 no-pad-btm">
                                    <div><label>From Date</label></div>
                                    <p-calendar name="_fdate" [(ngModel)]="fromDate" [showIcon]="true"
                                    (ngModelChange)="onLoadCases()"></p-calendar>
                                </div>
                                <div class="lg:col-2 no-pad-btm">
                                    <div><label>To Date</label></div>
                                    <p-calendar name="_tdate" [(ngModel)]="toDate" [showIcon]="true"
                                    (ngModelChange)="onLoadCases()"></p-calendar>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>Edit</th>
                                <th>S.No:</th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr>
                                <td>
                                    <button type="button" pButton pRipple icon="pi pi-pencil" (click)="onEdit(rowData)"
                                        label="Edit" tooltipPosition="bottom"></button>
                                </td>
                                <td>{{rowIndex+1}}</td>
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-panel>
        </div>
    </div>
</div>