/* You can add global styles to this file, and also import other style files */


@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

html {
    height: 100% !important;
}

body {
    margin: 0 !important;
    height: auto !important;
    width: 100% !important;
    // overflow: hidden;
}

label {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

.loader{
    display: block;
    position: relative;
    height: 20px;
    width: 140px;
    background-image: 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0), 
    linear-gradient(#FFF 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0 0, 40px 0, 80px 0, 120px 0;
    animation: pgfill 1s linear infinite;
  }
  @keyframes pgfill {
    0% {   background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    25% {   background-image: linear-gradient(#0bda49 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    50% {   background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#0bda49 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    75% {   background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#0bda49 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0); }
    100% {   background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#0bda49 20px, transparent 0); }
  }

.note {
    font-size: 12px;
    font-style: italic;
    color: red;
}

.app-headertopic {
    text-align: -webkit-center;
    font-size: 24px;
    color: white;
}
 .home-image {
    background-image: url(assets/images/layout/6881619.jpg) !important;
    border: 0.5px solid #4ed39e !important;
    height: 100vh !important;
    background-size: cover !important;
    background-position: inherit !important;
    padding: 4rem !important;
    margin-top: .5rem;
 }
  

::-webkit-scrollbar {
    scrollbar-width: thin !important;
}

.container {
    margin-top: 10px;
}

.to-center {
    display: flex !important;
    justify-content: center !important;
}
.to-end {
    display: flex !important;
    justify-content: flex-end !important;
}

.txt-to-center {
    text-align: center !important;
}

.txt-to-end {
    text-align: end !important;
}

.box {
    border: 0.5px solid #d8dcf3;
    border-radius: 5px;
}

.div-radio-box {
    border: 1px solid #4eeb58;
    border-radius: 5px;
    padding: 2px;
}

.hdr-shdw-btm {
    border-bottom: 2px solid #0c9616;
    box-shadow: 0px 15px 10px -15px #adffb1 !important;
}

.shdw-light-btm {
    border-bottom: 1px solid #97e39c;
    box-shadow: 0px 15px 10px -15px #adffb1 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-pad-top {
    padding-top: 0 !important;
}

.no-pad-btm {
    padding-bottom: 0 !important;
}

.header {
      background: white;
    color: #0c9616;
    // color: #e1ede6;
}

.hdr-pad {
    padding: 0.25rem !important;
    margin-bottom: -.25rem;
}

.login-title {
    text-align: center !important;
    font-family: Times New Roman;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.txt-link {
    color: #1769aa !important;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
}

.cursor {
    cursor: pointer;
}

.space {
    margin: 5px 30px;
}

.space-smaller {
    margin: 5px 10px;
}

.btn-in-div {
    margin-top: .25rem !important;
}

.margin-gap {
    margin: .25rem auto;
}

.card {
    box-shadow: rgba(7, 179, 64, 0.24) 0px 3px 8px;
    border: solid 1px #a4ffbf;
    border-radius: 10px;
}

.dsh-box {
    // height: 250px !important;
    margin-top: 5px;
    background: #fbfbff;
    padding: 0 !important;
    color: white;
    border-radius: 10px;
    font-size: 17px !important;
}

.dsh-box-hdr {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #0c9616;
}

.dsh-box1-innerbox-bg {
    border-radius: 10px;
    //    width: 25% !important;
    background: #4770ad;
}

.dsh-box2-innerbox-bg {
    border-radius: 10px;
    //    width: 25% !important;
    background: #fbc02d;
}

.dsh-box3-innerbox-bg {
    border-radius: 10px;
    //    width: 25% !important;
    background: #4caf50;
}

.dsh-box4-innerbox-bg {
    border-radius: 10px;
    //    width: 25% !important;
    background: #dc3545;
}

.dsh-box5-innerbox-bg {
    border-radius: 10px;
    //    width: 25% !important;
    background: #07abcd;
}

.dsh-box6-innerbox-bg {
    border-radius: 10px;
    //    width: 25% !important;
    background: #e91d5b;
}

.dsh-box-value {
    font-weight: 600;
    font-size: 18px;
}

.table-hdr-export {
    margin-top: 2rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: end !important;
}

.tab-form-hdr {
    background: beige;
    color: #0c9616;
    font-size: 15px;
}

.main-dsh-grid {
    width: 160px !important;
    height: 160px;
    border-radius: 16px;
    border: 1px solid #a9a1a3;
    margin: 25px auto 5px;
    transition: all 0.5s ease;
    position: relative;
}
.main-dsh-img {
    // margin-top: 5px;
    box-shadow: 0 10px 30px 0 rgba(99, 99, 99, 0.08), 0 30px 30px 0 rgba(0, 0, 0, 0.08) !important;
}
.main-dsh-grid:hover {
    box-shadow: 0px 20px 50px 10px rgb(20 20 20 / 8%), 0px 20px 20px 3px rgb(15 18 22 / 8%) !important;
    transition: box-shadow 0.25s ease !important;
}
.main-dsh-count {
    // text-shadow: 1px 3px #2c2a2a;
    margin: 0.5rem auto auto;
    color: white !important;
    font-size: 20px;
    // border: 1px solid lightgrey;
    border-radius: 50%;
    height: 40px !important;
    width: 40px !important;
    display: flex;
    justify-content: center;
    // background: #fbfbfb;
    // box-shadow: 0 10px 30px 0 rgba(99, 99, 99, 0.08), 0 30px 30px 0 rgba(0, 0, 0, 0.08) !important;
}
.main-dsh-title {
    font-size: 14px;
    color: white !important;
}

// primeng styles

.p-dropdown {
    width: -webkit-fill-available !important;
    border: 1px solid #4eeb58 !important;
    box-shadow: inherit !important;
}

// .p-dropdown-open {
//     border: .2px solid #4eeb58  !important;
//     box-shadow:  0 0 0 .15rem #7bffa7 !important;
// }
.p-dropdown:not(.p-disabled).p-focus {
    border-color: #4eeb58 !important;
    box-shadow: 0 0 0 0.1rem #8cffb2 !important;
}

.p-dropdown .p-inputtext {
    border: none !important;
    // border-color: #4eeb58  !important;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    margin-right: 0 !important;
    padding: 0.25rem 0.45rem !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: #0c9616 !important;
}

.p-dropdown .p-dropdown-trigger {
    border: none !important;
}

.p-dropdown :focus-visible {
    border: none !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 0.5rem 0.75rem !important;
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
    color: rgb(56 53 53 / 87%) !important;
    font-size: 14px !important;
    color: #161616de !important;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: #4eeb58 !important;
}

.p-inputtext.p-filled {
    background: white !important;
}

.p-inputtext {
    width: -webkit-fill-available !important;
    border: 1px solid #4eeb58 !important;
    background: white !important;
    color: #292828c7 !important;
    font-size: 14px !important;
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 .15rem #8cffb2 !important;
    // border-color: #0c9616 !important;
    // border: 2px solid #0c9616 !important;
}

.p-inputtext.ng-touched.ng-invalid {
    border-color: red;
}

.p-inputwrapper-filled {
    background: white !important;
}
.p-inputtext.p-filled {
    background: white !important;
}
.p-float-label input:focus~label,
.p-float-label .p-inputwrapper-focus~label {
    color: #54ce5c !important;
}

.p-float-label label {
    font-size: 13px !important;
    font-weight: 500 !important;
}

.p-float-label input:focus~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .p-inputwrapper-filled~label {
    font-weight: 500 !important;
    color: #20c52b !important;
    padding: 2px 1px 2px 2px !important;
    margin-left: -5px !important;
    font-size: 13px !important;
}

.p-panel .p-panel-header {
    border: 1px solid #4ed39e !important;
    padding: 0.55rem !important;
    background: #0c9616 !important;
    color: #fcfff6 !important;
}

.p-panel .p-panel-title {
    font-size: 1rem !important;
}

.p-button:disabled {
    background: #bdbdbd !important;
    color: #606060 !important;
}

.p-button {
    padding: 0.52rem 0.65rem !important;
    font-weight: 400 !important;
    background: #0c9616 !important;
    font-size: 14px !important;
}

.p-button:enabled:hover {
    background: #0a9046 !important;
    box-shadow: 0 0 0 .15rem #aaecc8 !important;
}

.p-button.p-button-icon-only.p-button-rounded {
    height: 2.25rem !important;
    width: 2.25rem !important;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #4eeb58 !important;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: #0c9616 !important;
}

.p-calendar-w-btn .p-datepicker-trigger.p-button {
    margin-left: -2rem !important;
    // background-color: #3F51B5 !important;
    // border: 2px solid #3F51B5 !important;
}

.p-datepicker table td>span.p-highlight {
    color: #009c5f !important;
}

.p-calendar {
    width: -webkit-fill-available !important;
    border: inherit !important;
}

.p-calendar-w-btn .p-datepicker-trigger.p-button span {
    color: white !important;
}

.p-calendar-w-btn .p-inputtext {
    border-radius: 5px !important;
}

.p-datepicker table td.p-datepicker-today>span {
    background: #009c5f !important;
    color: white !important;
    border-color: #1be749 !important;
}

.p-datepicker table td>span.p-highlight {
    color: white !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    padding: 0 !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    padding: 0 !important;
}

.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
    border-bottom: 2px solid #009c5f !important;
    padding: 0.25rem !important;
    background: #d5efe5 !important;
}

.p-datepicker .p-datepicker-header {
    font-size: 14px !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
    width: 1rem !important;
    height: 1.5rem !important;
}

.p-datepicker .p-yearpicker .p-yearpicker-year {
    padding: 0.35rem 0.15rem !important;
    font-size: 14px !important;
}

.p-calendar .p-datepicker {
    padding: 0 !important;
}

.p-datepicker table td {
    padding: 0.25rem !important;
}

.p-datepicker table td>span {
    font-size: 15px !important;
}

.p-sidebar-left {
    position: relative !important;
    width: -webkit-fill-available !important;
    background-color: #0c9616;
}
.p-sidebar{
    background-color: #0c9616;
 }
.p-panelmenu .p-panelmenu-header>a {
    padding: 0.85rem !important;
    color: whitesmoke  !important;
    font-size: 14px !important;
    background: #0c9616 !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    // color: #4eeb58  !important;
    border-top: 1px solid #58d15e !important;
    font-size: 14px !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
    //     color: #4eeb58 !important;
    color: inherit !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
    color: inherit !important;
    padding-left: .5rem !important;
}

.p-panelmenu .p-panelmenu-panel {
    box-shadow: none !important;
    border-bottom: 1px solid whitesmoke !important;
}

.p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header>a {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.p-panelmenu .p-panelmenu-panel:last-child .p-panelmenu-header:not(.p-highlight)>a {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.p-panelmenu .p-panelmenu-panel:last-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-submenu) {
    padding: 0 !important;
}

.p-panelmenu .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-header-link:focus {
    background: #0c9616 !important;
    color: white !important;
}

.p-panelmenu .p-panelmenu-content {
    padding: 0 !important;
}

.p-panelmenu .p-panelmenu-panel .p-menuitem .p-menuitem-link:focus {
    background: #0c9616 !important;
    color: white !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
    // background: white !important;
    // color: #0c9616 !important;
    background: #0c9616 !important;
}

// .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
//     background: #25a35e !important;
// }

.p-sidebar .p-sidebar-header {
    padding: 0rem !important;
}

.p-sidebar-left {
    background: #0c9616 !important;
}

.p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
    color: white !important;
}

.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover,
.p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    color: white !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-header {
    display: flex !important;
    // justify-content: end !important;
    padding: 0.25rem !important;
}

.p-datatable .p-datatable-thead>tr>th {
    color: #1ca158 !important;
    background: #ececec !important;
    padding: 0.5rem 0.5rem !important;
    font-size: 14px !important;
}

.p-datatable.p-datatable-gridlines:has(.p-datatable-thead):has(.p-datatable-tbody) .p-datatable-tbody>tr>td {
    font-size: 14px !important;
    color: #2a2a2a !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.25rem 0.5rem !important;
}



.p-message .p-message-wrapper {
    padding: 0.25rem 1.25rem !important;
}

.p-message.p-message-info {
    background: #b5dff3 !important;
}

.p-message.p-message-warn {
    background: #fbf17b !important;
}

.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    min-width: 1.75rem !important;
}

.p-password {
    position: relative;
    display: inline-flex;
    width: -webkit-fill-available !important;
}
.p-tabview .p-tabview-nav .p-tabview-ink-bar {
    background-color: #0c9616 !important;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #5bc362 !important;
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
    color: white !important;
}
.p-tabview-title {
    font-size: 14px !important;
}
/////
.tableHeader {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
//login
.panel1-view {
    background-image: url(assets/images/layout/IGRS-Image.png) !important;
    // border: 0.5px solid #4ed39e !important;
    background-size: cover !important;
    background-position: inherit !important;
    border-radius: 10px;
    // margin-top: .5rem;
}
.panel3-view {
    background-image: url(assets/images/layout/justice-statue.jpg) !important;
    // border: 0.5px solid #4ed39e !important;
    background-size: cover !important;
    background-position: inherit !important;
    border-radius: 10px;
    // margin-top: .5rem;
}

 .b-image {
    background-image: url(assets/images/layout/4298109.jpg) !important;
    // filter: blur(7px);
    height: 100vh;
    background-position: center;
    background-size: cover;
 }