/* You can add global styles to this file, and also import other style files */


@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

html{ height: 100% !important;}
body {
    margin: 0 !important;
    height: 100% !important;
    width: 100% !important;
    // overflow: hidden;
}
label {
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.6) !important;
}
.to-center {
    display: flex !important;
    justify-content: center !important;
}
.txt-to-center {
    text-align: center !important;
}

.box {
    border: 0.5px solid #d8dcf3;
    border-radius: 5px;
}

.hdr-shdw-btm {
    border-bottom: 2px solid;
    box-shadow: 0px 15px 10px -15px #bdbdbd;
}

.no-padding {
    padding: 0 !important;
}

.header {
    // background: #6774b9;
    // border: 2px solid #5e6fc7;
    // color: white;
    color: #7a87cc;
}
// .container {
//     padding: 1rem !important;
// }

// primeng styles
.p-dropdown {
    width: -webkit-fill-available !important; 
    border: 1px solid var(--blue-700) !important;
}
.p-dropdown .p-inputtext {
    border: none !important;
}
.p-inputtext {
    width: -webkit-fill-available !important; 
    border: 1px solid var(--blue-700) !important;
    color: #292828c7 !important;
}
.p-inputtext.ng-touched.ng-invalid {
    border-color: red;
 }
.p-float-label input:focus ~ label, .p-float-label .p-inputwrapper-focus ~ label {
    color: #3F51B5 !important;
}
.p-float-label label {
    font-size: 12px !important;
}
.p-panel .p-panel-header {
    border: 1px solid #e0e0e0 !important;
    padding: 0.55rem !important;
    background: #7a87cc !important;
    color: #fafafa !important;
}
.p-panel .p-panel-title {
    font-size: 1rem !important;
}
.p-button:disabled {
    background: #bdbdbd !important;
    color: #606060 !important;
}
.p-button {
    padding: 0.52rem 0.65rem !important;
    font-weight: 400 !important;
}
.p-button.p-button-icon-only.p-button-rounded {
    height: 2.25rem !important;
    width: 2.25rem !important;
}
.p-calendar-w-btn .p-datepicker-trigger.p-button {
    margin-left: -2rem !important;
    background-color: #3F51B5 !important;
    border: 2px solid #3F51B5 !important;
}
.p-calendar {
    width: -webkit-fill-available !important;
}
.p-calendar-w-btn .p-datepicker-trigger.p-button span {
    color: white !important;
}
.p-sidebar-left {
    position: relative !important;
    width: -webkit-fill-available !important;
}
.p-panelmenu .p-panelmenu-header > a {
    padding: 0.85rem !important;
    color: #3f51b5 !important;
    font-size: 14px !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    color: #3f51b5 !important;
    border-top: 1px solid #7a87cc !important;
    font-size: 14px !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
    color: #3f51b5 !important;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
    color: inherit !important;
    padding-left: .5rem !important;
}
.p-panelmenu .p-panelmenu-panel {
    box-shadow: none !important; 
    border-bottom: 1px solid #7a87cc !important;
}
.p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.p-panelmenu .p-panelmenu-panel:last-child .p-panelmenu-header:not(.p-highlight) > a {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.p-panelmenu .p-panelmenu-panel:last-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-submenu) {
    padding: 0 !important;
}
.p-panelmenu .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-header-link:focus {
    background: #7a87cc !important;
    color: white !important;
}
.p-panelmenu .p-panelmenu-content {
    padding: 0 !important;
}
.p-panelmenu .p-panelmenu-panel .p-menuitem .p-menuitem-link:focus {
    background: #7482cf !important;
    color: white !important;
}
.p-sidebar .p-sidebar-header {
    padding: 0rem !important;
}
.p-sidebar-left {
    background: #4e5ba3 !important;
}
.p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
    color: white !important;
}
.p-sidebar .p-sidebar-header .p-sidebar-close:enabled:hover, .p-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    color: white !important;
}